<h1>Home</h1>

<nav>
  <ul>
    <h4><li><%= link_to "Contact", new_contact_path, data: { toggle: "modal", target: "#myModal" } %></li></h4>
  </ul>
</nav>

<!-- Contact Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  
</div><!-- /.modal -->    