<% @title = "Thank you!" %>

Your inquiry has been sent and we'll be in touch as soon as possible.

<% content_for :footer do %>
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
<% end %>